@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-default {
    @apply text-font-text-desktop leading-font-text-desktop tracking-desktop-ls font-bold;
  }
  .text-headline {
    @apply text-font-headline-desktop leading-font-headline-desktop tracking-desktop-ls;
  }
  .text-title {
    @apply text-font-title-desktop leading-font-title-desktop tracking-desktop-ls;
  }
  .active {
    @apply text-primary-var-2;
  }
}

@font-face {
  font-family: 'CLARITTY';
  src: url('./CLARITTB.TTF') format('truetype');
}
body {
  font-family: 'CLARITTY';
  background-color: #f0f0e9;
}
